@model IEnumerable
@{ DemoHelper.Instance.ControlAreaMaxWidth = Unit.Pixel(1048); }
@section AdditionalResources {
    <script src="@Url.Content("~/Scripts/FixedRowsOffset.js")" type="text/javascript"></script>
}
@section StartDemoRegion {
    @{ Html.BeginForm(); }
}
@section DemoOptionsTop {
    <script type="text/javascript">
        function ApplyDemoOptions() {
            $("form").submit();
        }
    </script>
    <div class="options">
        <div class="options-item">
            @Html.DevExpress().CheckBox(settings => {
               settings.Name = "EnableFixedRows";
               settings.Text = "Enable fixed rows";
               settings.Theme = "MaterialCompactOrange";
               settings.Properties.ClientSideEvents.CheckedChanged = "ApplyDemoOptions";
           }).Bind(FixedRowsDemoHelper.Options.EnableFixedRows).GetHtml()
        </div>
        <div class="options-item">
            @Html.DevExpress().CheckBox(settings => {
               settings.Name = "EnableVerticalScrolling";
               settings.Text = "Enable vertical scrolling";
               settings.Theme = "MaterialCompactOrange";
               settings.Properties.ClientSideEvents.CheckedChanged = "ApplyDemoOptions";
           }).Bind(FixedRowsDemoHelper.Options.EnableVerticalScrolling).GetHtml()
        </div>
    </div>
}

@Html.Partial("FixedRowsPartial", Model)

@section EndDemoRegion {
    @{ Html.EndForm(); }
}


