@model IEnumerable   
@{ DemoHelper.Instance.ControlAreaMaxWidth = Unit.Pixel(1516); }
@section StartDemoRegion {
    @{ Html.BeginForm(); }
}
@section DemoOptionsTop {
    <script type="text/javascript">
        function Submit(s, e) {
            $("form").submit();
        }
    </script>
    <div class="options">
        <div class="options-item">
            @Html.DevExpress().CheckBox(s => {
               s.Name = "EnableTextTab";
               s.Text = "Enable text tab";
               s.Theme = "MaterialCompactOrange";
               s.Checked = FilterBuilderDemoHelper.Options.EnableTextTab;
               s.Properties.ClientSideEvents.CheckedChanged = "Submit";
           }).GetHtml()
        </div>
        <div class="options-item">
            @Html.DevExpress().CheckBox(s => {
               s.Name = "AllowHierarchicalColumns";
               s.Text = "Allow hierarchical columns";
               s.Theme = "MaterialCompactOrange";
               s.Checked = FilterBuilderDemoHelper.Options.AllowHierarchicalColumns;
               s.Properties.ClientSideEvents.CheckedChanged = "Submit";
           }).GetHtml()
        </div>
        <div class="options-item">
            @Html.DevExpress().CheckBox(s => {
               s.Name = "ShowAllDataSourceColumns";
               s.Text = "Show all datasource columns";
               s.Theme = "MaterialCompactOrange";
               s.Checked = FilterBuilderDemoHelper.Options.ShowAllDataSourceColumns;
               s.Properties.ClientSideEvents.CheckedChanged = "Submit";
           }).GetHtml()
        </div>

    </div>
}
@Html.Partial("FilterBuilderPartial", Model)
@section EndDemoRegion {
    @{ Html.EndForm(); }
}

