@*@functions{
        protected string EncodeScriptForAttribute(object content) {
            return HttpUtility.HtmlEncode(DevExpress.Web.Internal.HtmlConvertor.ToScript(content));
        }
    }*@
﻿@Html.DevExpress().PageControl(settings => {
    settings.Name = "DemoPageControl";
    settings.CallbackRouteValues = new { Controller = "Home", Action = "DemoTabsPartial", Group = Utils.GetDemoGroupKey(Utils.CurrentDemoPage), Demo = Utils.CurrentDemoPage.Key };
    settings.ControlStyle.CssClass = "page-control";
    settings.EnableTheming = false;
    settings.Width = Unit.Percentage(100);
    settings.EnableTabScrolling = true;
    settings.TabAlign = TabAlign.Justify;
    settings.ControlStyle.Paddings.Padding = 0;
    settings.Styles.Content.CssClass = "tabs-content";
    settings.Styles.Tab.CssClass = "tab";
    settings.Styles.ActiveTab.CssClass = "tab-active";
    settings.ClientSideEvents.ActiveTabChanged = "DXDemo.HightlightedCode.DemoPageControl_OnActiveTabChanged";

    settings.TabPages.Add(t => {
        t.Name = "Description";
        t.Text = "Description";
        t.SetContent(() => {
            string seeAlsoList = "";
            if(!Utils.IsOverview && Utils.CurrentDemoPage.SeeAlsoLinks.Count > 0) {
                seeAlsoList += "<br /> <span>See Also:</span> ";
                seeAlsoList += "<ul>";
                foreach(var sa in Utils.CurrentDemoPage.SeeAlsoLinks) {
                    seeAlsoList += string.Format("<li><a href=\"{0}\">{1}</a></li>", sa.Url, sa.Title);
                }
                seeAlsoList += "</ul>";
            }
            ViewContext.Writer.Write(
                "<article class=\"description-section text-content\">" +
                    "<div class=\"responsive-text\">" +
                        Utils.CurrentDemo.Description +
                        seeAlsoList +
                    "</div>" +
                "</article>"
            );
        });
    });

    if(!Utils.CurrentDemo.Product.HideSourceCode) {
        foreach(SourceCodePage page in Utils.GetCurrentSourceCodePages()) {
            settings.TabPages.Add(t => {
                t.Name = page.Title;
                t.Text = page.Title;
                string additionalProperties = String.Empty;
                if(DemosModel.Instance.DisableTextWrap)
                    additionalProperties = "style =\"width: 920px;white-space: nowrap;\"";
                t.SetContent(() => {
                    ViewContext.Writer.Write("<div class=\"code\">");
                    ViewContext.Writer.Write("<div class=\"copyContainer\">");
                    Html.DevExpress().Hint(hintSettings => {
                        hintSettings.Name = "copyHint";
                        hintSettings.EnableTheming = false;
                        hintSettings.TargetSelector = ".copyContainer a";
                        hintSettings.Content = "Copy to clipboard";
                        hintSettings.Width = Unit.Pixel(125);
                        hintSettings.Position = HintPosition.Bottom;
                    }).Render();
                    Html.DevExpress().HyperLink(hyperLinkSettings => {
                        hyperLinkSettings.Name = "hyperLinkCopyCode";
                        hyperLinkSettings.Properties.EnableClientSideAPI = true;
                        hyperLinkSettings.Properties.Text = "Copy";
                        hyperLinkSettings.NavigateUrl = "javascript:;";
                        hyperLinkSettings.EnableTheming = false;
                        hyperLinkSettings.ControlStyle.CssClass = "copyLink";
                        hyperLinkSettings.Properties.ClientSideEvents.Click = "DXDemo.HightlightedCode.CopyPage";
                    }).Render();
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("<div id=\"CodeBlock{0}\" class=\"CodeBlock\" {1}>", t.Index - 1, additionalProperties);
                    ViewContext.Writer.Write(page.Code);
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("</div>");
                });
            });
        }
    }
}).GetHtml()